body {
  background-image: url("2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  font-family: sans-serif;
  color: rgba(8, 78, 104, 0.761);
}

.site-header {
  margin-bottom: 3.5%;
  background-color: transparent;
}

.navbar-brand {
  padding: 12px 40px;
}

.navbar-nav .nav-item {
  padding: 5px;
}

.navbar-nav .nav-link {
  color: white;
}

#second {
  background-color: rgba(255, 255, 255, 0.367);
  color: rgba(8, 78, 104, 0.761);
  font-family: sans-serif;
  padding: 20px;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center; /* Center align all text content */
}

.sname {
  margin-bottom: 10px;
}

.subhead {
  margin-bottom: 15px;
}

.submitdiv {
  margin-top: 10px;
}

.newsList {
  margin-top: 10px;
  padding-left: 0;
}

.btn-link {
  color: rgba(8, 78, 104, 0.761);
}

.btn-link:hover {
  background-color: rgba(8, 78, 104, 0.107);
}
