/* Remove specific width and margins */
.container-fluid {
    background-color: rgba(255, 255, 255, 0.367);
    color: rgba(8, 78, 104, 0.761);
    font-family: sans-serif;
    min-height: 100vh;
}

.card {
    background-color: rgba(255, 255, 255, 0.341);
    color: rgba(8, 78, 104, 0.761);
    font-family: sans-serif;
    margin-top: 14%;
}

.btn {
    background-color: rgba(8, 78, 104, 0.66);
    color: azure;
    border-color: transparent;
}

.head {
    font-size: 180%;
    padding-top: 2%;
}

.main-form {
    padding: 20px;
}

.border-top {
    margin-top: 20px;
}
